/*geral*/
body{
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

body::selection{
  background-color: #E0E0E0;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  background-color: #E0E0E0;
  color: #FF6B00;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-wrap: break-word;
  font-family: "Open Sans", sans-serif;

}

/*Nome da p치gina*/
.flx{
  display: flex;
  width: 100%;
}

.pagina{
  width: 100%;
  height: calc(100% - 3.6rem);
  padding-bottom: 1rem;
  overflow-y: auto;
  scrollbar-color: #FF6B00 #003366;
  scrollbar-width: thin;
}

.pagn{
  background-color: #003366;
  width: fit-content;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.pagn h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 3.5vw;
  font-style: normal;
}

@media (max-width: 500px){
.pagn h1{
  font-size: 20px;
}
}

.pagn p{
  color: rgba(255, 107, 0, 0.75);
  padding-top: 1rem;
}

/*container de texto*/
.pcontainer{
  display: flex;
  flex-direction: column;
  background-color: #003366;
  color: #FF6B00;
  width: 80%;
  min-width: 210px;
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
}

/*Formul치rio*/
#cont{
  width: 60%;
}

@media (max-width: 600px){
#cont{
  width: 80%;
}
}

.formulario{
  width: 100%;
}

.formItem{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input, .textarea {
  outline: none;
  border: 2px solid #FF6B00;
  background-color: #004488;
  color: #FF6B00;
  margin-top: 5px;
  padding: 5px;
}

.vazio{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.vazio .input, .vazio .textarea{
  border: 2px solid #ff0000;
}

.input:focus, .textarea:focus{
  background-color: #001e3b;
}

::placeholder{
  color: rgba(255, 107, 0, 0.9);
  font-family: "Open Sans", sans-serif;
}

.textarea{
  width: 100%;
  height: 20vh;
  resize: none;
}

small{
  color: rgb(255, 0, 0);
}

small.ok{
  display: none;
}

.button{
  display: flex;
  justify-self: center;
  width: 20%;
  min-width: 60px;
  border: 2px solid #FF6B00;
  background-color: #004488;
  color: #FF6B00;
  padding: 5px;
  font-weight: bold;
}

/*Imagem do r치dio com as setas*/
.radio{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.radio img{
  display: flex;
  width: 80%;
}


/*Teste setas manuais*/
.setaResp{
  width: 100%;
  height: 25vw;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 5rem;
  justify-content: space-between;
  position: relative;
}

.radioRes{
  position: absolute;
  z-index: 1;
}

.radioRes img{
  display: flex;
  justify-self: center;
  width: 60%;
}

.esq{
  display: flex;
  flex-direction: column;
  justify-self: left;
  justify-content: center;
  align-items: flex-start;
  margin-left: 11vw;
}

.dir{
  display: flex;
  flex-direction: column;
  justify-self: right;
  justify-content: center;
  align-items: flex-end;
  margin-right: 6vw;
}

.expl{
  background-color: #003366;
  width: fit-content;
  font-size: 2vw;
  padding: 1vw;
  border-radius: 1vw;
}

.esq .expl{
  margin: 0.9vw;
}

.dir .expl{
  margin: 0.5vw;
}
/* fim setas manuais */




/*Imagem do r치dio com as setas*/
.radio{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.radio img{
  display: flex;
  width: 80%;
}


/*Teste setas manuais MELHOR*/
.setaResp1{
  display: flex;
  width: 100%;
  height: 25vw;
  margin-top: 2rem;
  margin-bottom: 5rem;
  position: relative;
  justify-content: center;
}

.fundo{
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

.radioRes1{
  width: 45vw;
}

.radioRes1 img{
  display: flex;
  justify-self: center;
  width: 45vw;
}

.esq1{
  display: flex;
  flex-direction: column;
  justify-self: left;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5vw;
}

.dir1{
  display: flex;
  flex-direction: column;
  justify-self: right;
  justify-content: center;
  align-items: flex-end;
  margin-left: 5vw;
}

.expl1{
  background-color: #003366;
  width: fit-content;
  font-size: 2vw;
  padding: 1vw;
  border-radius: 1vw;
}

.esq1 .expl1{
  margin: 0.9vw;
}

.dir1 .expl1{
  margin: 0.5vw;
}

.setasFlu{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 21, 0.349);
}


.setasFlu svg{
  position: absolute;
  fill: #ff5e00;
}

#seta1{
  width: 5vw;
  left: 18vw;
  top: 9vw;
}


/* fim setas manuais MELHOR */